body {
    font-family: 'Permanent Marker', cursive;
}

#name-A,
#name-B {
    font-size: 35px;
}

.card-text {
    font-size: 18px;
}

.resultatFinal {
    position: fixed;
    top: 15%;
    left: 10%;
    width: 30%;
    height: 15%;
    z-index: 5;
}